:root {
	--start-game-btn: lawngreen;
	--header-color: floralwhite;
	--gameboard-slot: rgb(219, 152, 53);
	--gameboard-slot-border: black;
	--gameboard-slot-box-shadow: #463f3f;
	--gameboard-box-shadow: rgb(245, 245, 61);
	--winner-bg-color: azure;
	--white-color: white;
}

* {
	margin: 0 auto;
	padding: 0 auto;
}

body {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
	text-align: center;
	color: var(--header-color);
}

h3 {
	font-size: 24px;
	color: var(--header-color);
}

/* Background */

.background {
	position: fixed;
	z-index: -1;
	height: 100vh;
	width: 100vw;
}

/* Header */

.header {
	padding-top: 48px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

input {
	margin: 8px 36px;
	font-size: 16px;
	padding: 6px;
	border-radius: 4px;
}

.new-game-btn {
	width: 228px;
	height: 64px;
	background-color: var(--start-game-btn);
	font-size: 22px;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 6px;
}

/* Game Board */

.main-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.player {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score {
	color: var(--white-color);
	font-size: 60px;
	font-weight: bold;
}

.gameboard { 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 22px;
	margin: 0;
	padding: 24px;
	background-image: url(images/gameboard.jpg);
	box-shadow: 0 0 2px 6px var(--gameboard-box-shadow);
}

.board-slot {
	display: flex;
	background-color: var(--gameboard-slot);
	border: 2px solid var(--gameboard-slot-border);
    box-shadow: 0 0 6px 2px var(--gameboard-slot-box-shadow);
	width: 168px;
	height: 168px;
	align-items: center;
	justify-content: center;
}

/* Footer */

.footer {
	margin-top: 24px;
}

.credits {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
}

.credits a:link {
	color: var(--white-color);
}

.logo {
	width: 192px;
}

.message-box {
	display: none;
	z-index: 1;
	opacity: 0.9;
	top: 50%;
	left: 50%;
	width: 36vw;
	height: 24vh;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
	font-size: 42px;
	position: absolute;
	background-color: var(--winner-bg-color);
}